# Database
DATABASE_URL="mysql://root:@localhost:3306/surat_sid"

# Next.js
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_DESA_NAME="Desa Maju Bersama"

# Default theme
NEXT_PUBLIC_DEFAULT_THEME="esensi"
